on:
  push:
    branches:
      - main
    paths:
      - generator/**
      - .github/**
  pull_request:
    paths:
      - generator/**
      - .github/**
name: "Generator: Linting"

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt

      - name: Run cargo fmt
        run: cargo fmt --verbose -- --check
        working-directory: generator

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy, rust-src

      - name: Run Clippy check
        run: cargo clippy -- -D warnings
        working-directory: generator
